@using Core.Application.ViewModels.PostVM
@using Core.Application.Helpers
@using Microsoft.AspNetCore.Http;
@using Core.Application.ViewModels.UserVM
@model SavePostViewModel

@inject IHttpContextAccessor httpContext;
@{
    UserViewModel user = httpContext.HttpContext.Session.Get<UserViewModel>("user");

    ViewData["Title"] = "Home Page";
}

<div class="col-12 d-flex justify-content-between">
    <div class="col-2 d-flex flex-column align-items-baseline position-fixed" style="margin-left: 1rem;">
        @if (user != null)
        {
            <div class="d-flex align-items-center align-content-center">
                <img src="@user.ProfileImg" class="postUserImg" />
                <h4 class="me-2">@user.UserName</h4>
            </div>

            <a class="nav-link text-dark" asp-controller="Posts" asp-action="Create">Crear post</a>
            <a class="nav-link text-dark" asp-controller="User" asp-action="Logout">Cerrar sesion</a>
        }
    </div>

    <div class="col-8 d-flex justify-content-center" style="margin-left: 18%;">
        <div class="postContainer">
            <div class="w-100">
                <div class="postContainerBorders d-flex flex-column ">
                    <div class="w-100 d-flex  mb-2 pb-3">
                        <img class="postUserImg me-2" src="@user.ProfileImg" />
                        <form class="w-100" method="post" asp-action="Create" asp-controller="Posts" enctype="multipart/form-data">

                            <input asp-for="Tittle" hidden class="form-control" />

                            <textarea asp-for="Body" id="postX" class="form-control placeComment shadow-none" placeholder="¿Qué estás pensando, @user.Name?"></textarea>
                            <div class="image-upload">
                                <label for="file-input" class="nav-link file-link-img" style="width: 20%;">
                                    <svg class="file-input-img" fill="currentColor" viewBox="0 0 24 24" width="1em" height="1em" class="x1lliihq x1k90msu x2h7rmj x1qfuztq xdb1l0v xxk0z11 xvy4d1p"><g fill-rule="evenodd" transform="translate(-444 -156)"><g><path d="m96.968 22.425-.648.057a2.692 2.692 0 0 1-1.978-.625 2.69 2.69 0 0 1-.96-1.84L92.01 4.32a2.702 2.702 0 0 1 .79-2.156c.47-.472 1.111-.731 1.774-.79l2.58-.225a.498.498 0 0 1 .507.675 4.189 4.189 0 0 0-.251 1.11L96.017 18.85a4.206 4.206 0 0 0 .977 3.091s.459.364-.026.485m8.524-16.327a1.75 1.75 0 1 1-3.485.305 1.75 1.75 0 0 1 3.485-.305m5.85 3.011a.797.797 0 0 0-1.129-.093l-3.733 3.195a.545.545 0 0 0-.062.765l.837.993a.75.75 0 1 1-1.147.966l-2.502-2.981a.797.797 0 0 0-1.096-.12L99 14.5l-.5 4.25c-.06.674.326 2.19 1 2.25l11.916 1.166c.325.026 1-.039 1.25-.25.252-.21.89-.842.917-1.166l.833-8.084-3.073-3.557z" transform="translate(352 156.5)"></path><path fill-rule="nonzero" d="m111.61 22.963-11.604-1.015a2.77 2.77 0 0 1-2.512-2.995L98.88 3.09A2.77 2.77 0 0 1 101.876.58l11.603 1.015a2.77 2.77 0 0 1 2.513 2.994l-1.388 15.862a2.77 2.77 0 0 1-2.994 2.513zm.13-1.494.082.004a1.27 1.27 0 0 0 1.287-1.154l1.388-15.862a1.27 1.27 0 0 0-1.148-1.37l-11.604-1.014a1.27 1.27 0 0 0-1.37 1.15l-1.387 15.86a1.27 1.27 0 0 0 1.149 1.37l11.603 1.016z" transform="translate(352 156.5)"></path></g></g></svg>
                                </label>
                                <input id="file-input" hidden asp-for="File" type="file" />
                            </div>
                            <input asp-for="Id" hidden />

                            <button type="submit" class="w-100 btn btn-primary">Publicar</button>
                        </form>
                        @*<input id="postOpen" class="form-control placeComment shadow-none" placeholder="Que estas pensando, @user.Name?">*@
                    </div>
                    @*class="d-flex w-100 align-items-center"*@
                </div>
            </div>




            @if (ViewBag.Posts.Count == 0)
            {
                <div class="d-flex justify-content-center">
                    <h4 class="text-info">No has posteado nada aun :D</h4>
                </div>
            }
            else
            {
                @foreach (PostViewModel post in ViewBag.Posts)
                {
                    <div class="postContainerBorders" style="">
                        <div class="postContainerHeader mb-3 borderBottom">
                            <div class="d-flex flex-row justify-content-center align-items-center ">
                                <img class="postUserImg" src="@post.User.ProfileImg" />
                                <div class="ms-2">
                                    <p class="m-0 fw-bold" style="font-size: 13px;">@post.User.UserName</p>
                                    <p class="m-0" style="font-size: 13px;">@(post.Created != null ? post.Created : post.LastModified)</p>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="postOptionsBTN" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown">
                                    <p>...</p>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Posts" asp-action="Edit"
                                   asp-route-id="@post.Id">Editar</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Posts" asp-action="Delete"
                                   asp-route-id="@post.Id">Eliminar</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex flex-column justify-content-center borderBottom">
                            <p>@post.Body</p>

                            <div class="w-100">
                                <img class="w-100 postImg" src="@post.ImagePost" />
                            </div>

                        </div>
                        <div class="d-flex flex-column justify-content-between align-items-center">
                            <div class="w-100 mt-2">
                                <form class="d-flex w-100 align-items-center" method="post" asp-action="Comment" asp-controller="Comment">
                                    <img class="postUserImg me-2" src="@user.ProfileImg" />
                                    <input name="comment" class="form-control placeComment shadow-none" placeholder="Escribe un comentario publico...">
                                    <input name="postId" type="number" value="@post.Id" hidden>
                                    <button type="submit" class="btn btn-primary">></button>
                                </form>
                            </div>
                            <div class="mt-1 w-100">

                                @foreach (var item in post.Comments)
                                {
                                    <div class="d-flex align-items-center mb-1">
                                        <img class="me-2 commentUserImg" src="@item.User.ProfileImg" />
                                        <div class="commentDiv">
                                            <p class="commentUser">@item.User.UserName</p>
                                            <p class="commentPost">@item.Content</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
@section scripts{
    <script>

    </script>
}