@using Core.Application.ViewModels.PostVM
@using Core.Application.Helpers
@using Microsoft.AspNetCore.Http;
@using Core.Application.ViewModels.UserVM
@model SavePostViewModel

@inject IHttpContextAccessor httpContext;
@{
    UserViewModel user = httpContext.HttpContext.Session.Get<UserViewModel>("user");

    ViewData["Title"] = "Home Page";
}

<div class="col-12 d-flex justify-content-between">
    <div class="col-2 d-flex flex-column align-items-baseline position-fixed" style="margin-left: 1rem;">
        @if (user != null)
        {
            <div class="d-flex align-items-center align-content-center">
                <img src="@user.ProfileImg" class="postUserImg" />
                <h4 class="me-2">@user.UserName</h4>
            </div>

            <a class="nav-link text-dark" asp-controller="Posts" asp-action="Create">Crear post</a>
            <a class="nav-link text-dark" asp-controller="User" asp-action="Logout">Cerrar sesion</a>
        }
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Crear nuevo post</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-action="Create" asp-controller="Posts" enctype="multipart/form-data">
                        <div class="mb-3">
                            <input asp-for="Tittle" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <textarea asp-for="Body" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <input asp-for="File" class="form-control" />
                        </div>
                        <input asp-for="Id" hidden />
                        <button type="submit" class="w-100 btn btn-primary">Publicar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="col-8 d-flex justify-content-center" style="margin-left: 18%;">
        <div class="postContainer">
            <div class="w-100">
                <div class="postContainerBorders d-flex flex-column ">
                    <div class="w-100 d-flex borderBottom mb-2 pb-3">
                        <img class="postUserImg me-2" src="@user.ProfileImg" />
                        <input id="postOpen" class="form-control placeComment shadow-none" placeholder="Que estas pensando, @user.Name?">
                    </div>
                    @*class="d-flex w-100 align-items-center"*@
                    <div class="w-100 d-flex align-items-center justify-content-evenly" style="height: 1.9rem !important;">
                        <p class="nav-link mt-3">Foto</p>
                        <p class="nav-link mt-3">Video</p>
                        <p class="nav-link mt-3">Gif</p>
                    </div>
                </div>
            </div>




            @if (ViewBag.Posts.Count == 0)
            {
                <div class="d-flex justify-content-center">
                    <h4 class="text-info">No has posteado nada aun :D</h4>
                </div>
            }
            else
            {
                @foreach (PostViewModel post in ViewBag.Posts)
                {
                    <div class="postContainerBorders" style="">
                        <div class="postContainerHeader mb-3 borderBottom">
                            <div class="d-flex flex-row justify-content-center align-items-center ">
                                <img class="postUserImg" src="@post.User.ProfileImg" />
                                <div class="ms-2">
                                    <p class="m-0 fw-bold" style="font-size: 13px;">@post.User.UserName</p>
                                    <p class="m-0" style="font-size: 13px;">@(post.Created != null ? post.Created : post.LastModified)</p>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="postOptionsBTN" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown">
                                    <p>...</p>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Posts" asp-action="Edit"
                                   asp-route-id="@post.Id">Editar</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Posts" asp-action="Delete"
                                   asp-route-id="@post.Id">Eliminar</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex flex-column justify-content-center borderBottom">
                            <p>@post.Body</p>

                            <div class="w-100">
                                <img class="w-100 postImg" src="@post.ImagePost" />
                            </div>

                        </div>
                        <div class="d-flex flex-column justify-content-between align-items-center">
                            <div class="w-100 mt-2">
                                <form class="d-flex w-100 align-items-center" method="post" asp-action="Comment" asp-controller="Comment">
                                    <img class="postUserImg me-2" src="@user.ProfileImg" />
                                    <input name="comment" class="form-control placeComment shadow-none" placeholder="Escribe un comentario publico...">
                                    <input name="postId" type="number" value="@post.Id" hidden>
                                    <button type="submit" class="btn btn-primary">></button>
                                </form>
                            </div>
                            <div class="mt-1 w-100">

                                @foreach (var item in post.Comments)
                                {
                                    <div class="d-flex align-items-center mb-1">
                                        <img class="me-2 commentUserImg" src="@item.User.ProfileImg" />
                                        <div class="commentDiv">
                                            <p class="commentUser">@item.User.UserName</p>
                                            <p class="commentPost">@item.Content</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
@section scripts{
    <script>

    </script>
}